<form id="change-password-form">
	<div class="form-group">
		<label for="txt-pwd-old">旧密码：</label>
		<input type="password" class="form-control" name="old" id="txt-pwd-old" placeholder="请输入旧密码" value="">
	</div>
	<div class="form-group">
		<label for="txt-pwd-new"> 新密码：</label>
		<input type="password" class="form-control" name="new" id="txt-pwd-new" placeholder="请输入新密码" value="">
	</div>
	<div class="form-group">
		<label for="txt-pwd-new-r">重复新密码：</label>
		<input type="password" class="form-control" name="new-r" id="txt-pwd-new-r" placeholder="请再次输入新密码" value="">
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-primary" onclick="PwdManager.changepwd();">修改</button>
		<button type="button" class="btn btn-default" onclick="PwdManager.resetpwd();">重置</button>
	</div>
</form>