<div id="room-main" class="col-lg-12 opacity-80 bg-color-000 padding-30" ng-controller="getReservationList">
    <div class="room-header">
        date: 2015-07-25
    </div>
    <div class="room-contain">
        <table class="table">
            <thead>
            <th ng-repeat="room in reservations.rooms">{{room.name}}</th>
            </thead>
            <tbody>
            <tr ng-repeat="resRow in reservations.reservations">
                <td ng-repeat="resTd in resRow"><a href="javascript:void(0);">{{resTd.text}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>