body {
    background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #565656;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
}

h1 {
    font-size: 40px;
}

h3 {
    font-weight: 400;
}

h4 {
    font-weight: 400;
    font-size: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
}

a {
    /*color: #d6ee18;*/
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    /*color: #b7cb1b;*/
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

form.signup {
    margin-top: 30px;
}

form.signup button.btn {
    text-transform: uppercase;
    font-weight: 700;
}

form.signup input.form-control:focus {
    border-color: #fd680e;
}

/* Nav */

a.navbar-brand {
    color: #fff !important;
    font-weight: 900;
    text-transform: uppercase;
}

a.navbar-brand:hover {
    color: #ddd !important;
}

/* Header */

#header {
    /*background-color: #444;
    background: url(../img/main-bg.jpg) no-repeat center top;*/
    margin-top: -20px;
    padding-top: 150px;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header h1 {
    margin-bottom: 15px;
    /*color: #fff;*/
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -1px;
}

h2.subtitle {
    /*color: #fff;*/
    font-size: 20px;
}


/* footer */
#footer {
    background: #fd680e;
    padding: 20px 0 5px;
}

p.copyright {
    color: #fff;
    text-align: center;
}

/****************************/
.navbar-inverse{
    background-color: #3162AD
}

/*=========================================================*/
#binding-name {
    width: 300px;
    height: 3em;
}

#welcome {
    /*color: #c6d550;*/
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
}

#room-main {
    margin-top: -80px;
    /*color: #eee;*/
}

a.reservation-link {
    border: #bbbbbb solid 1px;
    padding: 6px 20px;
}

a.reservation-link:hover {
    background-color: #333;
}

a.reservation-link.reserved {
    /*background-color: #fd680e;
    color: #080808;*/
    font-weight: bold;
}

a.reservation-link.canrevert {
    /*background-color: #00d6b2;
    color: #080808;*/
    font-weight: bold;
}

a.reservation-link.disabled {
    color: #ccc;
    background-color: #333;
    cursor: pointer;
}

a.reservation-link.reserved.disabled{
    color: #bbb;
    background-color: #245269;
    font-weight: bold;
    cursor: pointer;
}

.room-header > input, select, button {
    color: #000;
    line-height: 1.5em;
}

#txt-date {
    cursor: pointer;
}

#room-reservation-list .tooltip-inner{
    color: #000;
    max-width:300px;
    text-align: left;
}

/*----------------------------------------------------*/

.opacity-60 {
    filter: alpha(Opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.opacity-80 {
    filter: alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

.opacity-90 {
    filter: alpha(Opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
}

.bg-color-000 {
    background-color: #000;
}

.bg-color-eee {
    background-color: #eee;
}

.padding-30 {
    padding: 30px;
}