<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TUV-SUD</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/datetimepicker/jquery.datetimepicker.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/datetimepicker/jquery.datetimepicker.js"></script>
    <script src="bower_components/template/template.js"></script>
    <script src="js/common.js"></script>
    <script src="js/home.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">会议室预订系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <div class="nav navbar-nav navbar-right" id="welcome">
                欢迎- <span id="userName"></span>
            </div>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div id="header">
    <div class="container">
        <div class="row" id="main-container"></div>
        <div class="row" id="main-container-reservation" style="display:none;">
            <div id="room-main" class="col-lg-12 opacity-80 bg-color-000 padding-30">
                <div class="room-header">
                    Date: <input type="text" value="" id="txt-date" readonly="readonly"/>
                    Interval:
                    <select id="slt-interval">
                        <option value="5">5分钟</option>
                        <option value="15">15分钟</option>
                        <option value="30">30分钟</option>
                        <option value="60" selected="selected">1小时</option>
                        <option value="90">1.5小时</option>
                        <option value="120">2小时</option>
                    </select>
                </div>
                <div class="room-contain" id="room-reservation-list">
                </div>
            </div>
            <div id="room-operation" class="col-lg-8 col-lg-offset-2 text-center navbar-fixed-bottom" style="display:none;">
                
                <div></div>
                <div>
                    备注: <input type="text" placeholder="输入会议主题或说明或..." id="reservation-comment"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="template-signup">
    <div class="col-lg-6 col-lg-offset-3 opacity-80 bg-color-000 padding-30">
        <h1>欢迎光临</h1>

        <h2 class="subtitle">新客到……，怎么称呼您呢？</h2>

        <form class="form-inline signup" role="form">
            <div class="form-group">
                <input type="input" class="form-control" id="binding-name" placeholder="输入你的英文名或中文名"/>
                <a href="javascript:void(0);" id="btn-sign-up" class="btn btn-theme">Sing up NOW</a>
            </div>
            <div></div>
        </form>
    </div>
</script>
<script type="text/html" id="template-reservation">
    <table class="table">
        <thead>
        {{each rooms as room}}
        <th>{{room.name}}</th>
        {{/each}}
        </thead>
        <tbody>
        {{each reservations as cols}}
        <tr>
            {{each cols as reservation index}}
            <td><a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom"
                   class="reservation-link {{if !reservation.enable}}disabled{{/if}}
                        {{if reservation.isReserved}}reserved{{/if}}
                        {{if reservation.isReserved&&reservation.canRevert}}canrevert{{/if}}"
                   roomId="{{rooms[index]._id}}"
                   start="{{reservation.start}}" end="{{reservation.end}}"
                   canRevert="{{if reservation.canRevert}}true{{/if}}"
                   isReserved="{{if reservation.isReserved}}true{{/if}}"
                   enable="{{if reservation.enable}}true{{/if}}"
                   {{if reservation.reservation}}reservationId="{{reservation.reservation._id}}" {{/if}}>
                {{reservation.text}}</a>
                {{if reservation.reservation}}
                <div class="tip-reservation" style="display: none;">
                    <ul class="list-group">
                        <li class="list-group-item">预订人：{{reservation.reservation.userName}}</li>
                        <li class="list-group-item">预订时间：{{reservation.reservation.createDate}}</li>
                        <li class="list-group-item">备注：{{reservation.reservation.comment}}</li>
                    </ul>
                </div>
                {{/if}}
            </td>
            {{/each}}
        </tr>
        {{/each}}
        </tbody>
    </table>
</script>
</body>
</html>
