<!doctype html>
<html lang="en">

<head>
    <%include './common/common.head.htm'%>
        <%include './common/common.css.htm'%>
</head>

<body>
    <%include './common/navbar.htm'%>

        <div id="header">
            <ul class="nav nav-tabs" id="adminTab">
                <li class="active"><a data-toggle="tab" href="#roomManage">会议室管理</a></li>
                <li><a data-toggle="tab" href="#userManage">用户管理</a></li>
                <li><a data-toggle="tab" href="#reservationManage">预定管理</a></li>
                 <li><a data-toggle="tab" href="#pwdManage">密码修改</a></li>
            </ul>

            <div class="tab-content" id="adminTabContent">
                <div class="tab-pane active bg-color padding-30" id="roomManage">
                    <%include './admin/room.div.htm'%>
                </div>
                <div class="tab-pane bg-color padding-30" id="userManage">
                    <%include './admin/user.div.htm'%>
                </div>
                <div class="tab-pane bg-color padding-30" id="reservationManage">
                    <%include './admin/reservation.div.htm'%>
                </div>
                 <div class="tab-pane bg-color padding-30" id="pwdManage">
                    <%include './admin/changepassword.div.htm'%>
                </div>
            </div>
        </div>

        <%include './common/common.js.htm'%>
            <script src="/js/room.manage.js?v=<%version%>"></script>
            <script src="/js/user.manage.js?v=<%version%>"></script>
            <script src="/js/reservation.manage.js?v=<%version%>"></script>
             <script src="/js/admin.pwd.js?v=<%version%>"></script>
            <script src="/js/admin.js?v=<%version%>"></script>
</body>

</html>