<script src="/plugin/jquery/dist/jquery.min.js?v=<%version%>"></script>
<script src="/plugin/bootstrap/dist/js/bootstrap.min.js?v=<%version%>"></script>
<script src="/plugin/datetimepicker/jquery.datetimepicker.js?v=<%version%>"></script>
<script src="/plugin/template/template.js?v=<%version%>"></script>
<script src="/plugin/template/template-helper.js?v=<%version%>"></script>
<script src="/plugin/c-split-bar/c-split-bar.jquery.js?v=<%version%>"></script>
<script src="/js/common.js?v=<%version%>"></script>